<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Com_Tam_Ph46626"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.example.com_tam_ph46626.UpdateInfoScreen"
            android:exported="false"
            android:label="@string/title_activity_update_info_screen"
            android:theme="@style/Theme.Com_Tam_Ph46626" />

        <activity
            android:name="com.example.com_tam_ph46626.SignUpScreen"
            android:exported="false"
            android:label="@string/title_activity_sign_up_screen"
            android:theme="@style/Theme.Com_Tam_Ph46626" />
        <activity
            android:name="com.example.com_tam_ph46626.LoginScreen"
            android:exported="false"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.Com_Tam_Ph46626" />
        <activity
            android:name="com.example.com_tam_ph46626.SplashScreen"
            android:exported="true"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.Com_Tam_Ph46626">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.com_tam_ph46626.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Com_Tam_Ph46626" />
    </application>

</manifest>